registry=https://registry.npmjs.org/
# если нужен прокси — раскомментируй и подставь адрес:
# proxy=http://user:pass@proxy.company:8080
# https-proxy=http://user:pass@proxy.company:8080
# strict-ssl=false
